.select {
    width: fit-content;
    position: relative;
    z-index: 2;

    button {
        appearance: none;
        border: none;
        background: none;
        padding: 0.25rem 2.75rem 0.25rem 1rem;
        cursor: pointer;
    }
}

.dropdownBtn::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.2);
    transition: opacity .3s;
    opacity: 0.5;
    z-index: 2;
    border-radius: 10px;
    pointer-events: none;
}

.dropdownBtn:hover::before {
    opacity: 1;
}

.dropdownBtn::after {
    content: "";
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    top: calc(50% - 0.5rem);
    right: 0.75rem;
    border: solid #68c8bf;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    transition: transform .3s;
    pointer-events: none;
}

.openSelect::after {
    transform: rotate(-135deg) translate(-4px, -4px);
}

.dropdown {
    position: absolute;
    background-color: white;
    right: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: 0.5rem 0;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px -2px 8px 0px;main

    button {
        padding: 0.75rem;
        width: 100%;
    }

    button:hover {
        color: #fba036;
    }
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.3s ease, transform 0.3s ease;

    &.show {
        opacity: 1;
        transform: scaleY(1);
    }

    &.hide {
        opacity: 0;
        transform: scaleY(0);
    }

    hr {
        width: 15%;
        border: 0.125rem solid #68c8bf;
        height: 0px;
        margin: 0.75rem 0;
    }

    @media screen and (max-width: 640px) {
        padding: 3rem 0;
        padding-top: 1.5rem;
        position: fixed;
        gap: 1rem;
        width: 100%;
        max-height: 75%;
        bottom: 0;
        left: 0;
        border-radius: 2rem;
        box-shadow: rgba(99, 99, 99, 0.5) 0px -2px 20px 4px;

        .row {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 1.5rem;
            padding: 0 1rem;
        }

        .closeBtn {
            width: 30px;
            height: 30px;
            position: relative;
            z-index: 1001;
            cursor: pointer;

            span {
                display: block;
                position: absolute;
                width: 20px;
                height: 4px;
                width: 100%;
                background: #9a9a9a;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);

                &:nth-child(1) {
                    transform: rotate(45deg);
                    top: 10px;
                }
    
                &:nth-child(2) {
                    transform: rotate(-45deg);
                    top: 10px;
                }
            }
        }

        button {
            padding: 1rem;
            width: 100%;
        }
        hr {
            margin: 1rem 0;
        }


        &.show {
            opacity: 1;
            transform: scaleY(1) translateY(0);
        }

        &.hide {
            opacity: 0;
            transform: scaleY(1) translateY(100%);
        }
    }
}
