.container {
    padding: 0 5rem 5rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    max-width: 100%;
    overflow-x: hidden;
}

@media screen and (max-width: 640px) {
    .page_container {
        padding: 0 2rem 2rem;
    }
}
