.mainTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    h1 {
        text-align: center;
        color: #68c8bf;
        font-style: normal;
        font-weight: 600;
        font-size: 3rem;
    }

    p {
        font-size: 2rem;
    }
}

.selectTitleStyle {
    color: #68c8bf;
    font-style: normal;
    font-weight: 600;
}

.optionStyle {
    color: #68c8bf;
    font-style: normal;
    font-weight: 600;
}

.selectedStyle {
    color: #fba036;
    font-style: normal;
    font-weight: 600;
}

.yearDropdown {
    text-align: center;
    color: #68c8bf;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    background-color: transparent;
    border: none;
}

.yearDropdown option {
    font-size: 1.5rem;
}

.yearDropdown option:checked {
    color: #fba036;
}

.teamLayout:not(:first-child) {
    margin-top: 6rem;
}

.teamLayout {
    >h1 {
        text-align: center;
    }
}

.membersLayout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 2rem;
    row-gap: 3rem;
    margin-top: 3rem;
    justify-content: center;
    align-items: flex-start;
}

.memberCard {
    width: 22rem;
    display: grid;
    justify-content: center;
    align-content: center;
    place-items: center;

    .nameAndPosition {
        display: grid;
        grid-template-rows: 1fr 0.5fr;
        justify-content: center;
        place-items: center;
        margin: 0 0 1rem;

        .name {
            font-size: 2rem;
            font-weight: 500;
            line-height: 2.5rem;
            text-align: center;
        }

        .position {
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 1.5rem;
        }
    }

    .emojiAndPhoto {
        display: grid;
        grid-row-start: auto;

        .emojiContainer {
            grid-area: 1/1;
            z-index: 1;
            width: 5rem;
            height: 5rem;
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 0.1875rem solid #fce891;
            background-color: #fdf5cd;

            .emoji {
                font-size: 2.25rem;
            }
        }

        .photo {
            grid-area: 1/1;
            width: 16rem;
            height: 16rem;
            border-radius: 50%;
            border: 0.25rem solid #ffffff;
            background-color: #ffffff;
            object-fit: cover;
            border: solid 2px #68c8bf;
        }
    }

    .funFact {
        background-color: #95d9d2;
        border: 0.25rem solid #68c8bf;
        border-radius: 2.5rem;
        padding: 1.5rem;
        margin-top: -2.5rem;
        z-index: 1;
        display: flex;
        justify-content: center;
        text-align: center;
        min-width: 12rem;
        max-width: 18rem;

        .fact {
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 1.5rem;
        }
    }
}

.footerArt {
    padding: 0 2%;
    max-width: 100%;
    display: grid;
    grid-row-start: auto;

    .shapes {
        width: 100%;
        max-width: 100%;
        margin-top: -2.5%;
        grid-area: 1/1;
    }

    .characters {
        max-width: 60%;
        grid-area: 1/1;
        justify-self: end;
        z-index: 1;
    }
}

@media screen and (max-width: 640px) {
    .mainTitle {
        font-size: 1rem;
        gap: 0.25rem;

        h1 {
            font-size: 2.25rem;
        }
    }
    
    .teamLayout:not(:first-child) {
        margin-top: 3rem;
    }

    .teamLayout {
        >h1 {
            font-size: 1.875rem;
            line-height: 1.25rem;
        }
    }

    .membersLayout {
        column-gap: 7.5%;
        row-gap: 1.75rem;
        margin-top: 1.75rem;
    }

    .memberCard {
        width: 12rem;
        min-height: 17rem;
        // transform: scale(1.2);
        justify-content: center;
        align-content: start;
        place-items: center;

        .nameAndPosition {
            margin: 0 0 0.5rem;
            row-gap: 0.25rem;

            .name {
                font-size: 1.25rem;
                font-weight: 500;
                line-height: 1.125rem;
            }

            .position {
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 0.75rem;
            }
        }

        .emojiAndPhoto {
            display: grid;
            grid-row-start: auto;

            .emojiContainer {
                width: 3.5rem;
                height: 3.5rem;

                .emoji {
                    font-size: 1.5rem;
                }
            }

            .photo {
                width: 11.5rem;
                height: 11.5rem;
                // border: solid 10px black;
            }
        }

        .funFact {
            padding: 0.75rem;
            margin-top: -1.5rem;
            min-width: 10rem;
            max-width: 11.5rem;

            .fact {
                font-size: 0.75rem;
                font-weight: 500;
                line-height: 0.75rem;
            }
        }
    }
}