.box-main {
    background-color: #FCE891;
    width: 75%;
    height: fit-content;
    border-radius: 32px;
    padding: 8px;
    margin: auto;
}

.title {
    margin: 2%;
    // padding-left: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.description::before {
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    transform: translate(-50%, -100%);
    background-color: #FBA036;
    transition: width 1.5s ease-in-out;
    // margin-bottom: 25px;
}

.description.opened::before {
    width: 110%;
}

.title-text {
    color: black;
    font-size: 22px;
    font-weight: 550;
    line-height: 36px;
    letter-spacing: 0em;
    // text-align: left;
    width: 80%;
    margin-left: 10px;

}

.toggle {
    width: 15%;
    margin: auto;
    // transform: translateY(35%);
}

.description {
    position: relative;
    max-height: 0px;
    opacity: 0;
    transition: all 1.5s ease-in-out;
    margin: auto 35px;
    text-align: center;
    // background-color: #FDF5CD;


}

.description.opened {
    // transition: max-height 1.5s ease-in-out;
    opacity: 1;
    max-height: fit-content;
}


.closed {
    .vertical {
        transition: all 0.5s ease-in-out;
        transform: rotate(-90deg);
    }

    .horizontal {
        transition: all 0.2s ease-in-out;
        transform: rotate(-90deg);
        opacity: 1;
    }
}

.opened {
    opacity: 1;

    .vertical {
        transition: all 0.5s ease-in-out;
        transform: rotate(90deg);
    }

    .horizontal {
        transition: all 0.5s ease-in-out;
        transform: rotate(90deg);
        opacity: 0;
    }
}

.circle-plus {
    // height: 4em;
    width: 4em;
    font-size: 1em;
    opacity: .7;

}

.circle-plus .circle {
    position: relative;
    width: 2.55em;
    height: 2.55em;
    border-radius: 100%;
    border: solid .23em #FBA036;
}

.circle-plus .circle .horizontal {
    position: absolute;
    background-color: #FBA036;
    width: 30px;
    height: 5px;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -2.5px;
}

.circle-plus .circle .vertical {
    position: absolute;
    background-color: #FBA036;
    width: 5px;
    height: 30px;
    left: 50%;
    margin-left: -2.5px;
    top: 50%;
    margin-top: -15px;
}

// Toggle code assisted by: https://codepen.io/Inlesco/pen/XXRRmY