.box-main {
    background-color: #fce891;
    display: block;
    width: 90%;
    border-radius: 2rem;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1.5rem;
    padding: 2.25rem 2.25rem 1.75rem 2.25rem; // bottom padding has 0.5rem less to accommodate the orange line that appears when description is visible
}

.title:hover {
    cursor: pointer;
}

.description::before {
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    transform: translate(-50%, -100%);
    background-color: #fba036;
    transition: width 1s ease-in-out;

    // margin-bottom: 25px;
}

.description.opened::before {
    width: 110%;
}

.title-text {
    color: #3e3e3e;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;
}

.toggle {
    &:hover {
        cursor: pointer;
    }
}

.description {
    position: relative;
    transition: max-height 1.5s cubic-bezier(0, 1, 0, 1);
    margin: 0 2.25rem;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    padding: 0.25rem;

    &.opened {
        transition: max-height 1s ease-in-out;
        max-height: 200vh;
    }
}

.description-text {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.75rem;
}

.closed {
    .vertical {
        transition: all 0.5s ease-in-out;
    }

    .horizontal {
        transition: all 0.5s ease-in-out;
        opacity: 1;
    }
}

.opened {
    opacity: 1;

    .vertical {
        transition: all 0.5s ease-in-out;
        transform: rotate(90deg);
    }

    .horizontal {
        transition: all 0.5s ease-in-out;
        transform: rotate(90deg);
        opacity: 0;
    }
}

.circle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    border: 0.25rem solid #fba036;
    position: relative;
}

.line {
    margin: 0 auto;
    position: absolute;
    background-color: #fba036;
}

.horizontal {
    width: 80%;
    height: 0.25rem;
    top: 45%;
    left: 10%;
}

.vertical {
    background-color: #fba036;
    width: 0.25rem;
    height: 80%;
    top: 10%;
    left: 45%;
}

// Toggle code assisted by: https://codepen.io/Inlesco/pen/XXRRmY
