.button {
    all: unset;
    cursor: pointer;
    display: inline-flex;
    width: fit-content;
    padding: 1.5rem 1.75rem;
    border-radius: 2.5rem;

    .text {
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 2rem;
    }
}

.button:active {
    transform: scale(0.98);
}
