* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-weight: 400;
    line-height: 1.6;
    // TBD
    font-family: "Open Sans", sans-serif;
    color: black;
}
