.container {
    display: flex;
    flex-direction: column;
    row-gap: 9rem;
}

.topSection {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    padding-left: 5%;
    gap: 2rem;

    .ourHistory {
        grid-area: 1/1;
        margin-top: 3rem;
        > p {
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 140%;
            margin-top: 2rem;
        }
    }

    .ourHistoryBackground {
        grid-area: 1/2;
        > img {
            height: 100%;
            max-width: 100%;
            overflow: hidden;
        }
    }
}

.middleSection {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    .sponsorListContainer {
        height: 8.5rem;
        position: relative;
        overflow: hidden;
    }

    .sponsorList {
        position: absolute;
        top: 0rem;
        left: 0rem;
        overflow: hidden;
        white-space: nowrap;
        animation: sponsormove 15s linear infinite;
    }

    .sponsorList:hover {
        animation-play-state: paused;
    }

    .sponsorList > a > img {
        margin: 0 0.5rem;
        width: 14.5rem;
        height: 8.5rem;
    }

    @keyframes sponsormove {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(-50%, 0);
        }
    }
}

.bottomSection {
    margin-bottom: 5rem;
}

@media screen and (max-width: 640px) {
    .container {
        row-gap: 3rem;
    }
    .topSection {
        display: flex;
        flex-direction: column;
        padding: 0 5%;

        .ourHistoryBackground {
            display: flex;
            justify-content: center;
            > img {
                max-width: 75%;
            }
        }
    }

    .middleSection {
        row-gap: 1rem;
        .sponsorListContainer {
            height: 6.5rem;
            .sponsorList {
                > a > img {
                    margin: 0 0.25rem;
                    width: 10.5rem;
                    height: 6.5rem;
                }
            }
            .sponsorList:hover {
                animation-play-state: running;
            }
        }

    }
}
