.faq-main {
    position: relative;
    background-color: #FFFFFF;
    overflow: hidden;
    width: 100%;
    margin: auto;
    padding-bottom: 8%;
    z-index: 2;
}

.main-title {
    text-align: center;
    color: #68C8BF;
    // font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    padding-bottom: 75px;
}

.faq-content {
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: fit-content;

    @media screen and (max-width: 700px) {
        flex-direction: column-reverse;
    }

    justify-content: center;
    align-items: center;
    margin: auto;
}

.faq-content>div {
    width: 48%;

    
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    align-content: flex-start;

    @media screen and (max-width: 700px) {
        width: 88%;
        margin: auto;
        padding-top: 8%;
    }
}

.side-1, .side-2 {
    margin: auto;
}

.logo {
    height: 255px;
    width: 580.5px;
    left: 738px;
    top: 316px;
    border-radius: 0px;
    
    @media screen and (max-width: 700px) {
        width: 100%;
    }
}

.faq-background {
    position: absolute;
    z-index: -3;
    bottom: 0px;
    transform: translateY(30vh);
}