.mainTitle {
    text-align: center;
    color: #68c8bf;
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 4.5rem;
}

.faqContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    min-height: 120vh;
    padding-bottom: 2rem; // to provide breathing space to bottom art
}

.side1 {
    z-index: 2;
    grid-area: 1/1;
    > div {
        display: flex;
        row-gap: 3rem;
    }
}

.backgroundLeft {
    grid-area: 1/1;
    transform: translateY(30%);
}

.side2 {
    z-index: 2;
    grid-area: 1/2;
    > div {
        display: flex;
        row-gap: 3rem;
    }
}

.backgroundRight {
    grid-area: 1/2;
    margin-top: auto;
    margin-left: auto;
}

.logo {
    height: 19rem;
    width: 38rem;
}

@media screen and (max-width: 640px) {
    .faqContent {
        display: grid;
        grid-template-columns: 1fr;
    }
    .side1 {
        z-index: 2;
        grid-area: 2/1;
        > div {
            display: flex;
            row-gap: 3rem;
            align-items: center;
        }
    }

    .backgroundLeft {
        // display: none;
        max-width: 100%;
        grid-area: 1/1;
        margin-right: auto;
        transform: translateY(80%);
    }

    .side2 {
        z-index: 2;
        grid-area: 1/1;
        padding-bottom: 2rem;
        > div {
            display: flex;
            row-gap: 3rem;
            align-items: center;
        }
    }

    .backgroundRight {
        grid-area: 2/1;
        margin-top: auto;
        margin-left: auto;
        max-width: 100%;
    }

    .logo {
        width: 100%;
        padding: 0 0 2rem;
    }
}

@media screen and (min-width: 768px) {
    .faqContent {
        display: grid;
        grid-template-columns: 1fr;
       // grid-template-rows: repeat(2, 1fr);
    }
    .side1 {
        z-index: 2;
        grid-area: 2/1;
        > div {
            display: flex;
            row-gap: 3rem;
            align-items: center;
        }
    }

    .backgroundLeft {
        // display: none;
        max-width: 100%;
        grid-area: 1/1;
        margin-right: auto;
        transform: translateY(20%);
    }

    .side2 {
        z-index: 2;
        grid-area: 1/1;
        > div {
            display: flex;
            row-gap: 3rem;
            align-items: center;
        }
    }

    .backgroundRight {
        grid-area: 2/1;
        margin-top: auto;
        margin-left: auto;
        max-width: 100%;
        transform: translateY(-10%);
    }

    .logo {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .faqContent {
        display: grid;
        grid-template-columns: 1fr;
    }
    .side1 {
        z-index: 2;
        grid-area: 2/1;
        > div {
            display: flex;
            row-gap: 3rem;
            align-items: center;
        }
    }

    .backgroundLeft {
        // display: none;
        max-width: 100%;
        grid-area: 1/1;
        margin-right: auto;
        transform: translateY(30%);
    }

    .side2 {
        z-index: 2;
        grid-area: 1/1;
        > div {
            display: flex;
            row-gap: 3rem;
            align-items: center;
        }
    }

    .backgroundRight {
        grid-area: 2/1;
        margin-top: auto;
        margin-left: auto;
        max-width: 100%;
    }

    .logo {
        width: 100%;
    }
}

@media screen and (min-width: 1280px) {
    .faqContent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .side1 {
        z-index: 2;
        grid-area: 1/1;
        > div {
            display: flex;
            row-gap: 3rem;
        }
    }

    .backgroundLeft {
        max-width: 100%;
        grid-area: 1/1;
        margin-right: auto;
    }

    .side2 {
        z-index: 2;
        grid-area: 1/2;
        > div {
            display: flex;
            row-gap: 3rem;
        }
    }

    .backgroundRight {
        grid-area: 1/2;
        margin-top: auto;
        margin-left: auto;
        max-width: 100%;
    }

    .logo {
        width: 100%;
    }
}
